extends default

block content
    script.
        let histogram_data = !{JSON.stringify(histogram_data)};
        let box_data = !{JSON.stringify(box_data)};
        let last_access = !{JSON.stringify(last_access)};
        let participation_by_course = !{JSON.stringify(participation_by_course)};
        let weekly_percentage = !{JSON.stringify(weekly_percentage)};

        function drawALL() {
            draw_weekly_percentage();
            draw_P_Grades();
            drawHistogram();
            draw_P_LastDays();
            draw_P_CoursesDisplay();
        }

    div(class="content")
        div(class="grid-container")
            div(id="weekly_percentage")
            div(id="histogram")
            div(id="box_plot")
            div(id="lastaccess_plot")
            div(id="courses_plot")
   
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript" src="javascript/chartsGoogle.js")