extends default

block content
    h1 #{rows[0].StudentName}
    div.container
        div.container
            table(border='1')
                tr
                    th Course
                    th Examination
                    th Grade
                each row in rows
                    tr
                        td #{row.CourseName}
                        td #{row.EvaluationName}
                        td #{row.value}
        div.container
            script(src='javascript/'+java +'.js')
            script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
            canvas(id="myChart")
            script.
                let results = !{JSON.stringify(data)};
        

