extends default

block content
    script.
        let percentages_data = !{JSON.stringify(percentages_data)};
        let grades_data = !{JSON.stringify(grades_data)};
        let students_courses = !{JSON.stringify(students_courses)};
        let weekly_activities = !{JSON.stringify(weekly_activities)};
        let indicators = !{JSON.stringify(indicators)};
        function drawALL() {
            drawPercentages();
            drawGradesTable();
            drawWeekly();
            drawIndicators();
        }

    div(class="grid-container")
        div(id="week_plot" style={'grid-row-start': 1, 'grid-column-start': 1})
        div(id="percentages_plot" style={'grid-row-start': 1, 'grid-column-start': 2})
        div(id="grades_plot" style={'grid-row-start': 2, 'grid-column-start': 1})
        div(id="indicators_plot" style={'grid-row-start': 2, 'grid-column-start': 2})
 
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript" src="javascript/chartsGoogle.js")
        

